@tailwind base;
@layer base {
  html {
    @apply text-tertiary-dark;
  } 
}
@tailwind components;
@tailwind utilities;

.v-toast__item {
  border-radius: 0px !important;
  border: 2px solid #0F0F0F;
  box-shadow: 6px 6px 0px rgba(0,0,0,1) !important;
}

.vs__dropdown-toggle {
  border-radius: 0px !important;
  border: none !important;
}

.vs__dropdown-menu {
  margin-top: 8px !important;
  padding: 8px !important;
  border: 2px solid #0f0f0f !important;
  background-color: #f8f9fa !important;
}

.vs__dropdown-option {
  border: 2px solid #f8f9fa !important;
  text-transform: capitalize;
}

.vs__dropdown-option--highlight {
  background: #86bbd8 !important;
  color: white !important;
  border: 2px solid #0f0f0f !important;
}

.vs__clear,
.vs__open-indicator {
  fill: #0f0f0f !important;
}

.vs__selected {
  width: 241px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}

.vs__selected-options {
  flex-wrap: nowrap !important;
}

div.svelte-4trrml {
  margin: 0 !important;
}

button.svelte-1ugwjx2.svelte-1ugwjx2 {
  border-radius: 0px !important;
  border: 2px solid black !important;
  --tw-drop-shadow: drop-shadow(6px 6px 0px rgba(0,0,0,1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.svelte-1a1oxv8 {
  margin-top: 5px !important;
}